# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.vscode
_node_modules
__node_modules
backend-test
/.pnp
.pnp.js
/.pnp

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
frontend.rar

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

# vercel
.vercel

# graphql-let
__generated__
*.graphql.d.ts
*.graphqls.d.ts

# PWA
workbox-*.js
sw.js


#### DOCKER
.docker/workspace-frontend
.docker/workspace-ecommerce
.docker/workspace-backend
.docker/laradock

.docker/logs/redis
!.docker/logs/redis/.gitkeep

.docker/logs/mysql
!.docker/logs/mysql/.gitkeep

.docker/logs/mongo
!.docker/logs/mongo/.gitkeep

.docker/logs/sqlite
!.docker/logs/sqlite/.gitkeep

.docker/logs/nginx
!.docker/logs/nginx/.gitkeep

.docker/logs/apache2
!.docker/logs/apache2/.gitkeep


.docker/data/redis
!.docker/data/redis/.gitkeep

.docker/data/mysql
!.docker/data/mysql/.gitkeep

.docker/data/mongo
!.docker/data/mongo/.gitkeep

.docker/data/sqlite
!.docker/data/sqlite/.gitkeep

/docker-compose.stage.yml
/.env.stage
/.env.dev
/.env.prod
